html {
    height: 100%;
    width: 100%;
    background-color: #2E3440;
  }
  
  #memory, #output, #registers, #code > .details, #code, textarea {
    padding: 1em;
    width: 25%;
    color: #eceff4;
    background: #292F3A;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    min-height: 20vh;
    position: relative;
  }
  .details {
    width: 100% !important;
    padding: 0px !important;
  }

  .details {
    padding-top: 0.75em !important;
  }
  #code {
    margin-top: 1em;
  }

  #registers {
    width: 10% !important;
  }

  .title {
    margin-bottom: 1em;
  }
  
  p {
    padding: 0px;
    margin: 0px;
  }
  
  #memory > .details > p {
    margin-right: 0.5em;
  }
  
  .details {
    border-top: rgba(255,255,255,0.05) solid 2px;
    font-family: 'Source Code Pro', monospace;
  }
  
  #memory div {
    padding-top: 1em;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 10pt;
    height: 100%;
  }
  
  #output div {
    padding-top: 1em;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12pt;
  }
  
  #memory > p {
    flex-basis: 5.88235%;
  }
  
  #all {
    display: flex;
  }

  button, input {
    background: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: 'Source Code Pro', monospace;
    color: #eceff4;
    font-size: 15pt;
    padding: 0.5em 0.8em;
    border-radius: 10px;
    border: rgba(255,255,255,0.1) 1px solid;

    transition: all 200ms ease-in-out;
    margin-left: auto;
    
  }

  ul {
    font-size: 14pt;
    font-family: 'Source Code Pro', monospace;
    color: #eceff4;
    margin-top: 0;
  }

  a:visited {
    color: #c4cad4;
  }

  a {
    color: #eceff4;
  }

  #run {
    margin-right: 0.5em;
    height: 3.5em;
  }

  h1, h3 {
    font-family: 'Source Code Pro', monospace;
    color: #eceff4;
  }

  h3 {
    margin: 0;
    padding: 0;
  }

  #run.no-hover {
    background: none;
  }

  #hertz {
    width: 2em;
    background: #292F3A;
    -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  }

  #hertz:hover {
    background: #1c2028;
  }
  button:hover {
    background: #1c2028;
  }
  #share {
    position: fixed;bottom: 0.5em;right: 0.5em;background: #292f3a;
  }
  #share:hover {
    background: #1c2028;
  }

  #interactions {
    position: absolute;
    bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
  }

  textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

a {
  font-family: 'Source Code Pro', monospace;
}

p {
  font-family: 'Source Code Pro', monospace;
  font-size: 14pt;
  color: #eceff4;
}

#description {
  width: 75%;
}

@media only screen and (min-width: 300px) and (max-width: 750px) {
  #description {
    width: 100% !important;
  }

  #all {
    flex-direction: column;
  }
  #memory, #output, #registers, #code > .details, #code, textarea {
    width: 90% !important;
    margin-top: 1em;
  }

  #registers {
    margin-top: 0em !important;
  }

  #guides {
    margin-top: 1em;
  }
}